html {
  background: #e7dfd5;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  
}

li {
  margin-right:10px;
  display:inline-block;
  *display:inline; /*IE7*/
}

.juegos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  list-style-position: inside;
  align-content: right;
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  color:white;
  margin-right:10px;
}

html,
body {
  margin: 0 auto;
  color: #e7dfd5;
}

header {
  height: 300px;
  width: 100%;
  position: relative;
  padding-top: 12px;
  background-color: #950d16;
  margin: 0;
}

div#inicio {
  margin: auto;
  width: 960px;
  color: #fdb400;
}

div#principal {
  position: relative;
  margin: auto;
  width: 960px;
  height: 1200px;
  border-bottom: solid 5px #cf7500;
  bottom: 150px;
}
div.imagen {
  width: 300px;
  height: 300px;
}
hr {
  border: 0 none #606060;
  border-top: 3px solid #606060;
  height: 1px;
  margin: 5px 0;
  display: block;
  clear: both;
}
div#info {
  float: right;
  width: 610px;
  height: 270px;
  padding: 15px;
  background-color: #fdb400;
}

div#extra {
  padding: 20px;
  padding-right: 0px;
  padding-top: 0px;
  width: 940px;
  height: 720px;
  background-color: #f0a500;
}

nav a {
  color: black;
  text-decoration: none;
  border: 4px solid black;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

section h3 {
  margin: auto;
  padding: 30px;
  font-style: italic;
  background-color: #e7dfd5;
  margin-left: -20px;
  color: #cf7500;
}

a:hover {
  background: no-repeat 0 5px;
  outline: 0;
  border: none;
}

footer {
  text-align: center;
  background-color: #e7dfd5;
  height: 100px;
  width: 920px;
  padding: 20px;
  color: #cf7500;
}
nav {
  margin-top: 30px;
}

strong {
  color: #192129;
}
